<ion-view view-title="Playlist">
  <ion-content>
    <div class="list card">

    <div class="item item-avatar">
      <img src="http://www.webcallstudio.fr/_include/images/aide/ico_playlist.png">
      <h2>Marty McFly</h2>
      <p>November 05, 1955</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="https://img-new.cgtrader.com/items/63586/good_guy_greg_3d_model_obj_stl_wrl_wrz_957edc59-559a-4930-8fd1-408162ca01a0.jpg">
      <p>
        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        the content is from a card-body consisting of an image and paragraph text. The footer
        consists of tabs, icons aligned left, within the card-footer.
      </p>
      <p>
        <i class="icon ion-heart"></i><a href="#" class="subdued">1 Like</a>
        <i class="icon ion-chatbox"></i><a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

</div>
  </ion-content>
</ion-view>
